{% extends 'home.html' %}
{% block content %} 
{% load static%}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Event_Project</title>
</head>
<body>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'base' %}"><i class="fas fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bookevent'%}">Bookevent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_cart'%}">YourEvent</a>
      </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">hello,{{user.Name}}</li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout'%}">logout</a>
            </li>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register'%}">register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login'%}">login</a>
            </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Event_Feature
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{%url 'family'%}">Family</a>
                    <a class="dropdown-item" href="{% url 'charity'%}">Charity</a>
                    <a class="dropdown-item" href="{%url 'buisness'%}">Buisness</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{%url 'culture'%}">Culture</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link enable" href="{%url 'about'%}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link enable" href="{%url 'contact'%}">ContactUs</a>
          </li>
        </ul>
        <form method='POST' class="form-inline my-2 my-lg-0">{%csrf_token%}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</div>
</div>
<div align="center">
    <div class="header text-white">
      <h1 id="main-heading">Organize Your Events With Us</h1>
      <p>It takes as much energy to wish as it does to plan..</p><br><br>
      <form>
        <button type="submit" style="background-image: linear-gradient(#fe8c00,#f83600); padding:3px;
  border:none; border-radius:9px; color:white"><a class="nav-link text-dark" href=" {% url 'bookevent' %}">BOOK EVENT</a></button>
      </form>
    </div>
   </div>
   <style>
    body{
      background-attachment:fixed;
      background-position: right top;
      background-image:linear-gradient(#44a08d,#093637);

      color:white;

      }

.head{
  background-image: linear-gradient(#fe8c00,#f83600);
  color:white;

  padding:10px
}
      .about{
        padding:20px;
      }
.footer{
background-image:linear-gradient(#FF4E50,#F9D423);
color:white;
padding:10px;
}

  </style>
</head>
<body>
<section class="family">
  <div class="container ">
    <div class="row">
    <div class="col-md-4">
    <div class="text-left" ><img id="family" alt='upload img' src="/static/family.jpg"  width="350" height="200"></div>
    </div>
       <div class="col-md-8">
        <h4>Family Event</h4>
         <p>
          "Culture is a way of coping with the world by defining it in detail.” by Malcolm Bradbury. “A nation's culture resides in the hearts and in the soul of its people” by Mahatma Gandhi. “We may have different religions, different languages, different colored skin, but we all belong to one human race."
          <a  class="nav-link" href="{% url 'family' %}">More Details</a>
         </p>
         </div>
         </div>
      </div>
  </section>
  <section class="cultural">
    <div class="container ">
      <div class="row">
      <div class="col-md-4">
      <div class="text-left" ><img id="cultural" alt='upload img' src="/static/culture.jpg" width="350" height="200"></div>
    </div>
       <div class="col-md-8">
        <h4>Cultural Event</h4>
         <p>
          "Culture is a way of coping with the world by defining it in detail.” by Malcolm Bradbury. “A nation's culture resides in the hearts and in the soul of its people” by Mahatma Gandhi. “We may have different religions, different languages, different colored skin, but we all belong to one human race."
          <a  class="nav-link" href="{% url 'culture' %}">More Details</a>
         </p>
         </div>
         </div>
      </div>
  </section>

  <section class="business">
    <div class="container ">
      <div class="row">
      <div class="col-md-4">
      <div class="text-left" ><img id="buisness" alt='upload img' src="/static/business.jpg" width="350" height="200"></div>
    </div>
       <div class="col-md-8">
        <h4>Business Event</h4>
         <p>
          "Culture is a way of coping with the world by defining it in detail.” by Malcolm Bradbury. “A nation's culture resides in the hearts and in the soul of its people” by Mahatma Gandhi. “We may have different religions, different languages, different colored skin, but we all belong to one human race."
          <a  class="nav-link" href="{% url 'buisness' %}">More Details</a>
         </p>
         </div>
         </div>
      </div>
  </section>

<section class="charity">
    <div class="container ">
      <div class="row">
      <div class="col-md-4">
      <div class="text-left" ><img id="charity" alt='upload img' src="/static/charity.jpg" width="350" height="200"></div>
    </div>
       <div class="col-md-8">
        <h4>Charity Event</h4>
         <p>
          "Culture is a way of coping with the world by defining it in detail.” by Malcolm Bradbury. “A nation's culture resides in the hearts and in the soul of its people” by Mahatma Gandhi. “We may have different religions, different languages, different colored skin, but we all belong to one human race."
          <a  class="nav-link" href="{% url 'charity' %}">More Details</a>
         </p>
         </div>
         </div>
      </div>
  </section>

<div class="section">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Event</title>
  <style>
  body{

 background-image: url("https://source.unsplash.com/WLUHO9A_xik/1600x900");
 background-attachment: fixed;

  }
  .header{
    background-image: url("https://source.unsplash.com/user/erondu/1600x900");
    background-size:cover;
    background-repeat:no-repeat;
      background-attachment: fixed;

    padding: 100px 100px;
    background-position:left;
       }
      </style>
</div>
</html>

<section class="footer">
  <div class="container" align="center">
    <div class="row">
      <div class="col-md-6">
        <h5>Developed By:Vimaljit Singh</h5>
        <h6>CONTACT</h6>
        <a href="https://www.facebook.com/profile.php?id=100047433977691"><i class="fab fa-facebook-square fa-3x"> </i></a>
        <a href="https://www.instagram.com/_deepak.deep/"><i class="fab fa-instagram-square fa-3x"> </i></a>
        <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in fa-3x"></i> </a>
      </div>
      <div class="col-sm-6">
        <h6>ADDRESS</h6>
        <p>TDI City,MOHALI,<br>PUNJAB,<br>SECTOR-118 <br>PINCODE-140301</p>
      </div>
    </div>
  </div>
</section>
  </body>
</html>
{% endblock content %}