{% extends 'base.html' %}
{% block content %}
<center>
    <style>
        body{
          background-attachment:fixed;
          background-position: right top;
          background-image:linear-gradient(#44a08d,#093637);
  
          color:white;
  
          }
  
    .head{
      background-image: linear-gradient(#fe8c00,#f83600);
      color:white;
  
      padding:10px
  }
          .about{
            padding:20px;
          }
  .footer{
  background-image:linear-gradient(#FF4E50,#F9D423);
  color:white;
  padding:10px;
  }
  
      </style>
    </head>
    <body>
  
    <hi>Buisness</hi>
{% for i in buisness %}
{{i.Event_type}}<br>
<img src="{{i.Image.url}}" width="400" height='400'><br>
{{i.Food}}<br>
{{i.Desc}}<br>
{{i.Publicity}}<br>
{% endfor %}
{% endblock %}
</center>
