{% extends 'base.html' %}
{% block content %}
<style>
    body{
      background-attachment:fixed;
      background-position: right top;
      background-image:linear-gradient(#44a08d,#093637);

      color:white;

      }

.head{
  background-image: linear-gradient(#fe8c00,#f83600);
  color:white;

  padding:10px
}
      .about{
        padding:20px;
      }
.footer{
background-image:linear-gradient(#FF4E50,#F9D423);
color:white;
padding:10px;
}

  </style>
</head>
<body>

<h1>Charity</h1>
{% for i in charity %}
<center>
{{i.Event_type}}<br>

<img src="{{i.Image.url}}" width="400" height='400'><br>
{{i.Desc}}<br>
{{i.Food}}<br>
{{i.Decoration}}<br>
{{i.CG}}<br>
{{i.Sponcer}}<br>
</center>
{% endfor %}
{% endblock %}