{% extends 'base.html' %}
{% block content%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'base' %}"><i class="fas fa-home"></i>Event</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bookevent'%}">Bookevent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_cart'%}">YourEvent</a>
    </li>
          {% if user.is_authenticated %}
          <li class="nav-item active">hello,{{user.Name}}</li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout'%}">logout</a>
          </li>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'register'%}">register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login'%}">login</a>
          </li>
          {% endif %}

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Event_Feature
        </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{%url 'family'%}">Family</a>
                  <a class="dropdown-item" href="{% url 'charity'%}">Charity</a>
                  <a class="dropdown-item" href="{%url 'buisness'%}">Buisness</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{%url 'culture'%}">Culture</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link enable" href="{%url 'about'%}">About Us</a>
          </li>
      </ul>
      <form method='POST' class="form-inline my-2 my-lg-0">{%csrf_token%}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav>
</body>
</div>
</div>


<style>
    body{
      background-attachment:fixed;
      background-position: right top;
      background-image:linear-gradient(#44a08d,#093637);

      color:white;

      }

.head{
  background-image: linear-gradient(#fe8c00,#f83600);
  color:white;

  padding:10px
}
      .about{
        padding:20px;
      }
.footer{
background-image:linear-gradient(#FF4E50,#F9D423);
color:white;
padding:10px;
}

  </style>
</head>
</body>
{% for cart in user_cart %}
<center>

  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">{{cart.Name}}</div>
    <div class="card-body">
      <h5 class="card-title">{{cart.People}}</h5>
      <p class="card-text">{{cart.Date}}</p>
      <p class="card-text">{{cart.Address}}</p>
        <p class="card-text">{{cart.Food}}</p>
    </div>
  </div>
</center>
{% endfor %}

{% endblock%}
